@{
    ViewBag.Title = "Підтвердження покупки";
}
<div class="categories">
    <div class="category-card">
        <h1>Ви успішно купили скіпас!</h1>
        <p class="par"><strong>Курорт:</strong> @ViewBag.ResortName</p>
        <p class="par"><strong>Ціна:</strong> @ViewBag.Price грн</p>
        <p class="par"><strong>Тривалість:</strong> @ViewBag.Duration</p>
    </div>
</div>

@section Footer {
    <p>© 2026 SkiPass Service — контакти: support@skipass.com</p>
}
